
<p-megaMenu [model]="items"></p-megaMenu>

<!-- directive pButton ile uygulanamsı -->
<!-- elementlere  bir özellik kazandırmak için (genelde stil amaçlı) kullanılan yapılara directive yönerge diyoruz.  -->
<button class="p-button-info" pButton type="button" label="Click1" ></button>
<!-- p-bıtton component ile uygulanaması -->
<p-button styleClass="p-button-success" label="Click2" ></p-button>

<button label="41" pButton type="button" class="p-button-raised p-button-rounded"></button>


<!-- html elementine document.getElementById gibi angular da ulaşmak için elementRef kullanılır. -->
<!-- angularda elementi id den yakalamak için # ile seçeriz unique -->
<button #btn1  pButton type="button" label="Primary" class="p-button-outlined"></button>

<!-- istedeiğimiz kadar directive ile elementi özelleştirebiliriz. -->
<p appItalicText appBoldText fontSize="45px">Deneme </p>

<h1 appItalicText >safdsadsad</h1>



<p-button #btn2 (onFocus)="focus()" (onClick)="clickMe()" label="Custom Button" badge="8" styleClass="mr-2"></p-button>

<router-outlet></router-outlet>
